{% extends 'base.html' %}
{% block body %}
<style>
	.row {
		text-align: center;
		padding: 0 150px 100px 150px;
	}

	.row h3 {
		font-size: 30px;
	}

	.row input {
		font-size: 20px;
	}
</style>
<section id="product-for-sale" class="position-relative padding-large">
	<div class="container">
		<div class="row">
			<h3 class="my-3">Search Here</h3>
			<form role="search" method="POST" class="search-form" action="">
				<input type="search" id="search-form" class="search-field" placeholder="Enter Book name or ISBN" name="keyword" required />
				<button type="submit" class="search-submit">
					<a href="#" class="search-button">
					<svg class="bi" width="20" height="20"><use xlink:href="#search"></use></svg>
					</a>
				</button>
			</form>
		</div>
		<div class="title-wrap d-flex justify-content-between">			
			<div class="section-header">
				<h4 class="elementary-title">Random recommendations</h4>
			</div><!--section-header-->
		</div>
			<div class="swiper products-carousel overflow-hidden">

				<div class="swiper-wrapper">

					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product1.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Air pod</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 200</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product2.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Iphone</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 1500</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product3.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Watch</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 800</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product4.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Drone</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 1200</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product5.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Air pod</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 200</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product6.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Camera</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 400</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product7.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Apple Mobile</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 2000</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product8.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Joy Stick</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 150</span></a>
						</div>
					</div>
					<div class="swiper-slide product-card link-effect">
						<figure class="zoom-effect">
							<a href="single-product.html" class="zoom-in"><img src="{{ url_for('static', filename='product9.jpg') }}" alt="stories" class="lgpostImg img-fluid"></a>
						</figure>
						<div class="story-title-wrap my-3 d-flex justify-content-between">
							<h3 class="story-title"><a href="single-product.html">Headset</a></h3>
							<a class="price" href="#" data-after="ADD TO CART"><span>$ 250</span></a>
						</div>
					</div>

				</div>

			</div>
			<div class="swiper-icon swiper-arrow products-carousel-button-next position-absolute top-0 bottom-0 end-0 d-flex align-items-center">
              <a href="#"><svg class="bi" width="60" height="60"><use xlink:href="#long-arrow-alt-right"></use></svg></a>
            </div>
		    <div class="swiper-icon swiper-arrow products-carousel-button-prev position-absolute top-0 bottom-0 start-0 d-flex align-items-center">
              <a href="#"><svg class="bi" width="60" height="60"><use xlink:href="#long-arrow-alt-left"></use></svg></a>
            </div>
            <div class="swiper-pagination products-pagination"></div>
	</div>
</section>
{% endblock %}